---
export const prerender = true;
import CardArticle from "@/components/CardArticle.astro";
import Container from "@/components/partials/Container.astro";
import Topics from "@/components/Topics.astro";
import Layout from "@/layouts/Layout.astro";
import { filterArticlesByTags, filterUniqueTopics } from "@/utils/get-tags";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const articles = await getCollection("blog", (entry) => !entry.data.draft);
  const tags = filterUniqueTopics(articles);

  return tags.map((tag) => {
    const entries = filterArticlesByTags(tag, articles);

    return {
      params: { topic: tag },
      props: { entries },
    };
  });
}) satisfies GetStaticPaths;

const { topic } = Astro.params;
const { entries } = Astro.props;
---

<Layout title={topic}>
  <Topics />
  <Container
    id={`topic-${topic}`}
    class="hero"
    title={`Topic: ${topic}`}
    tag="topic"
  >
    <ul class="columns-1 md:columns-2">
      {
        entries.map((entry) => (
          <li class="break-inside-avoid md:p-6 p-0">
            <CardArticle {...entry} />
          </li>
        ))
      }
    </ul>
  </Container>
</Layout>
