---
import Intro from "@/components/partials/Intro.astro";
import { getI18n } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import Link from "../Link.astro";
import AboutMe from "../partials/AboutMe.astro";
import Projects from "../partials/Projects.astro";
import Banner from "../partials/Banner.astro";
import Resources from "../partials/Resources.astro";

const { props, currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout title={props.title}>
  <main>
    <Intro />
    <AboutMe />
    <Resources />
    <Projects />

    <Banner>
      <p class="text-2xl font-semibold max-w-xl mx-auto font-mono">
        {i18n.SERVICES_MSG}
      </p>
      <Link href="/services" class="mx-auto mt-12">
        {i18n.SERVICES_BUTTON}
      </Link>
    </Banner>
  </main>
</Layout>
