---
import Intro from "@/components/partials/Intro.astro";
import { getI18n } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import Projects from "../partials/Projects.astro";
import Testimonies from "../partials/Testimonies.astro";
import Tools from "../partials/Tools.astro";

const { props, currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout title={props.title}>
  <main class="hero">
    <Intro />

    <Testimonies />
    <Projects />
    <Tools />
  </main>
</Layout>
