---
import Layout from "@/layouts/Layout.astro";
import Me from "../partials/Me.astro";
import Projects from "../partials/Projects.astro";
import Testimonies from "../partials/Testimonies.astro";
import LastPosts from "../partials/LastPosts.astro";

const { props } = Astro;
---

<Layout title={props.title}>
  <main>
    <Me />
    <Projects />
    <Testimonies />
    <LastPosts />
  </main>
</Layout>
