---
import { getI18n } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import Hero from "../Hero.astro";
import Link from "../Link.astro";
import AboutMe from "../partials/AboutMe.astro";
import Education from "../partials/Education.astro";
import Experience from "../partials/Experience.astro";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });

const MENTORING_HOME =
  "https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ00eisO0NmZdKuDZ5Eh09WW9dO7lAj9AM4FuLRCX7Z8Xr0gSt3svRIX2M4K4Q1RP66vk-eyi6sE";
---

<Layout title="Agenda tu mentoria">
  <main class="hero">
    <AboutMe />
    <Experience />
    <Education />
  </main>
  <Hero
    title="Agenda  tu mentoria ahora mismo"
    description="Agenda una sesión de mentoría gratuita de 30 minutos para discutir tus objetivos y cómo puedo ayudarte a alcanzarlos."
  >
    <Link href={MENTORING_HOME} variant="gradient" class="mt-8" external>
      Agenda una sesión gratuita
    </Link>
  </Hero>
</Layout>
