---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"projects">;
const data = Astro.props.data;
---

<Layout title={data.title}>
  <div
    class="w-dvw h-72 bg-cover bg-center relative bg-no-repeat mb-5"
    style={`background: url('/_thumbnails/${data.cover}')`}
  >
  </div>
  <article class="hero prose prose-invert pt-16 min-h-dvh">
    <slot />
  </article>
</Layout>
