---
import Layout from "@/layouts/Layout.astro";
import Because from "../partials/Because.astro";
import Intro from "../partials/Intro.astro";
import Tools from "../partials/Tools.astro";
---

<Layout title="">
  <main>
    <Intro />
  </main>
</Layout>
