---
import Layout from "@/layouts/Layout.astro";
import Education from "../partials/Education.astro";
import Experience from "../partials/Experience.astro";
---

<Layout title="resumen">
  <main>
    <Experience />
    <Education />
  </main>
</Layout>
