---
import Layout from "@/layouts/Layout.astro";
import Education from "../partials/Education.astro";
import Experience from "../partials/Experience.astro";
import Banner from "../partials/Banner.astro";
---

<Layout title="resumen">
  <main class="hero">
    <div class="flex h-60 pt-20 justify-center items-center">
      <h3>
        <span class="text-4xl font-semibold text-balance">Resumen</span>
        <span class="text-4xl font-semibold text-yellow-300">.</span>
      </h3>
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1">
      <Experience />
      <Education />
    </div>
    <Banner />
  </main>
</Layout>
