<div class="h-[400px] relative">
  <div
    class="absolute -z-[1] md:max-w-3xl mx-auto inset-0 bg-orange-400 bg-[size:20px_20px] opacity-20 blur-[100px]"
  >
  </div>

  <div class="hero grid place-content-center text-center size-full z-10">
    <slot />
  </div>
</div>
