---
import { getI18n } from "@/i18n";
import BecauseCard from "../BecauseCard.astro";
import Container from "./Container.astro";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Container
  id="benefits"
  title="Somos la mejor opción para tu negocio o marca"
  tag="beneficios"
>
  <div class="grid md:grid-cols-3 grid-cols-1 pt-12 md:px-0 px-2 gap-3">
    {
      i18n.BECAUSE.map(({ TITLE, DESCRIPTION }) => (
        <BecauseCard title={TITLE} description={DESCRIPTION} />
      ))
    }
  </div>
</Container>
