---
import { getI18n } from "@/i18n";
import CodeDeco from "../CodeDeco.astro";
import Link from "../Link.astro";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section class="relative max-h-dvh overflow-hidden hero" id="intro">
  <CodeDeco
    class="absolute -right-8 md:top-14 bottom-1 text-sm"
    codelines={[
      "/**",
      " * HTML",
      " * CSS",
      " * JavaScript",
      " * Responsive Design",
      " * User Experience",
      "**/",
    ]}
  />
  <div>
    <div class="absolute top-16 left-0">
      <CodeDeco codelines={["hello()"]} />
      <CodeDeco codelines={["const message = ''"]} />
    </div>
    <div
      class="flex flex-col justify-center md:items-start items-center md:text-left size-full h-dvh text-center"
    >
      <h1
        class="font-bold md:text-6xl text-4xl text-white"
        set:text={i18n.INTRO_TITLE}
      />

      <p class="md:max-w-xl text-xl md:text-2xl mt-3">
        <span>{i18n.INTRO_DESCRIPTION.FIRST}.</span>
        <span class="text-red-200">{i18n.INTRO_DESCRIPTION.SECOND}.</span>
        <span class="text-yellow-200">{i18n.INTRO_DESCRIPTION.THIRD}</span>
      </p>

      <nav
        class="flex md:justify-start justify-center flex-wrap md:max-w-xl gap-y-1 mt-8"
      >
        <Link href="https://linkedin.com/in/jeffercbs" icon="linkedin" external>
          Linkedin
        </Link>
        <Link href="https://github.com/jeffercbs" icon="github" external>
          Github
        </Link>
        <Link href="https://www.youtube.com/@jeffercbs" icon="youtube" external>
          Youtube
        </Link>
        <Link href="mailto:jebarrero14@gmail.com" icon="mail" external>
          jebarrero14@gmail.com
        </Link>
        <Link href="/about" icon="braces"> About </Link>
      </nav>
    </div>
  </div>
</section>
