---
import { getI18n } from "@/i18n";
import Badge from "../Badge.astro";
import Link from "../Link.astro";
import CodeDeco from "../CodeDeco.astro";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section class="relative h-dvh max-h-dvh overflow-hidden" id="intro">
  <CodeDeco
    class="absolute -right-8 md:top-14 bottom-1 text-sm"
    codelines={[
      "/**",
      " * HTML",
      " * CSS",
      " * JavaScript",
      " * Responsive Design",
      " * User Experience",
      "**/",
    ]}
  />
  <div class="grid place-content-center size-full" id="intro">
    <div class="absolute top-16 left-0">
      <CodeDeco codelines={["hello()"]} />
      <CodeDeco codelines={["const message = ''"]} />
    </div>
    <div class="flex flex-col justify-center items-center text-center">
      <h1
        class="font-bold md:text-6xl text-4xl text-white"
        set:text={i18n.INTRO_TITLE}
      />

      <p class="md:max-w-xl text-xl md:text-2xl mt-3">
        <span>{i18n.INTRO_DESCRIPTION.FIRST}.</span>
        <span class="text-red-200">{i18n.INTRO_DESCRIPTION.SECOND}.</span>
        <span class="text-yellow-200">{i18n.INTRO_DESCRIPTION.THIRD}</span>
      </p>

      <nav
        class="flex justify-center flex-wrap md:max-w-xl md:gap-4 gap-2 mt-8"
      >
        <Link
          href="https://linkedin.com/in/jeffercbs"
          icon="linkedin"
          class="p-2"
          external
        >
          Linkedin
        </Link>
        <Link
          href="https://github.com/jeffercbs"
          icon="github"
          class="p-2"
          external
        >
          Github
        </Link>
        <Link
          href="https://www.youtube.com/@jeffercbs"
          icon="youtube"
          class="p-2"
          external
        >
          Youtube
        </Link>
        <Link
          href="mailto:jebarrero14@gmail.com"
          icon="mail"
          class="p-2"
          external
        >
          jebarrero14@gmail.com
        </Link>
        <Link href="/about" class="p-2" icon="braces"> About </Link>
      </nav>
    </div>
  </div>
</section>
