---
import { getI18n } from "@/i18n";
import { getCollection } from "astro:content";
import ProjectCard from "../ProjectCard.astro";
import Container from "./Container.astro";
const projects = await getCollection("projects");

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Container
  id="projects"
  title={i18n.PROJECTS_TITLE}
  tag={i18n.PROJECTS_TAG}
  description={i18n.PROJECTS_DESCRIPTION}
  class="hero"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</Container>
