---
import { getI18n } from "@/i18n";
import { getCollection } from "astro:content";
import ProjectCard from "../ProjectCard.astro";
import Container from "./Container.astro";
const projects = await getCollection("projects");

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Container
  title={i18n.PROJECTS_TITLE}
  tag={i18n.PROJECTS_TAG}
  description={i18n.PROJECTS_DESCRIPTION}
  id="projects"
>
  <div class="grid md:grid-cols-2 gap-y-6 w-full flex-1 gap-4 pb-12">
    {
      projects
        .reverse()
        .map(({ data, slug }) => <ProjectCard {...data} {slug} />)
    }
  </div>
</Container>
