---
type Props = {
    readingTime?: string;
};

const { readingTime } = Astro.props;
---

{
    readingTime && (
        <div class="flex items-center py-3">
            <small class="text-sm text-gray-400" set:text={readingTime} />
        </div>
    )
}
