---
type Props = {
  name: string;
  position: string;
  company: string;
  text: string;
};

const { name, position, text } = Astro.props;
---

<article
  class="p-5 bg-white/5 hover:bg-white/10 transition-colors ease-in-out border border-white/10 backdrop-blur-md rounded-2xl"
>
  <header class="flex items-center gap-2.5">
    <div class="flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="text-indigo-100"
      >
        <path
          d="M16 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2 1 1 0 0 1 1 1v1a2 2 0 0 1-2 2 1 1 0 0 0-1 1v2a1 1 0 0 0 1 1 6 6 0 0 0 6-6V5a2 2 0 0 0-2-2z"
        >
        </path>
        <path
          d="M5 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2 1 1 0 0 1 1 1v1a2 2 0 0 1-2 2 1 1 0 0 0-1 1v2a1 1 0 0 0 1 1 6 6 0 0 0 6-6V5a2 2 0 0 0-2-2z"
        >
        </path>
      </svg>
    </div>
    <div class="flex flex-col">
      <h3 class="text-white font-semibold" set:text={name} />
      <small class="text-white/60" set:text={position} />
    </div>
  </header>
  <p class="text-white/70 mt-2.5" set:text={text} />
</article>
