---
import { getI18n } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<footer class="flex flex-col -z-10 py-8">
  <div class="hero py-4 flex justify-center items-center">
    <p class="text-sm opacity-80">
      <span> &copy; 2024 <em>@jeffercbs</em>.</span>
      <span>
        {i18n.FOOTER_MSG}
      </span>
    </p>
  </div>
</footer>
