---
import { getI18n } from "@/i18n";
import { Icon } from "astro-icon/components";
import LanguageSelector from "./LanguageSelector.astro";
import MobileMenu from "./MobileMenu.astro";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<header
  class="header-animate sticky inset-x-0 top-0 h-20 flex md:justify-start justify-center w-full z-[99999] md:py-3 py-4"
>
  <nav
    class="size-full px-3 py-4 flex justify-between md:items-start items-center hero"
  >
    <div class="flex">
      <a
        href="/"
        class="hover:scale-105 transition-transform ease-in-out duration-300 flex justify-center items-center gap-x-2"
      >
        <h2 class="md:text-3xl text-2xl font-medium">jeffercbs</h2>
        <small class="bg-amber-400 text-neutral-900 rounded-full px-2">
          beta
        </small>
      </a>
    </div>
    <div class="md:flex hidden">
      <ul class="flex gap-x-3 mx-2 items-start justify-center" id="nav-items">
        {
          i18n.HEADER.map((item) => (
            <li
              class:list={[
                "group rounded-lg py-2 px-3 mx-2 transition-border transition-opacity ease-in-out",
                {
                  "opacity-80 hover:opacity-100 hover:border border-transparent hover:bg-white/5 hover:border-white/10":
                    item.ACTIVE,
                },
                { "opacity-50 disabled:cursor-none": !item.ACTIVE },
              ]}
            >
              <a
                href={!item.ACTIVE ? "#" : item.LINK}
                aria-disabled={!item.ACTIVE}
                class="flex flex-col font-medium text-base group-hover:text__glowing relative ease-out duration-300"
              >
                <span class="flex size-full justify-center items-center">
                  <Icon name={item.ICON} class="size-6 mr-2" />
                  <span>{item.LABEL}</span>
                </span>
                {!item.ACTIVE && (
                  <small class="mx-auto" set:text={i18n.HEADER_PROX} />
                )}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex">
      <LanguageSelector />
      <div class="mx-2"></div>
      <button id="mobile-menu-toggle" role="menu" class="md:hidden flex">
        <Icon name="menu" class="size-8" />
      </button>
    </div>
  </nav>
  <MobileMenu />
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggle = document.getElementById("mobile-menu-toggle");
    const menu = document.getElementById("mobile-menu");

    if (!toggle || !menu) return;

    toggle.addEventListener("click", () => {
      menu.classList.toggle("-translate-y-full");
      document.body.classList.toggle("overflow-hidden");
    });
  });
</script>
