---
import { marked } from 'marked';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.text) && (
        <section class="w-full flex flex-col gap-4 mb-16 sm:mb-24">
            {hero.title && <h1 class="text-2xl leading-tight font-serif font-medium sm:text-3xl sm:leading-tight">{hero.title}</h1>}
            {hero.text && <div class="max-w-none prose sm:prose-lg text-theme-muted" set:html={marked.parse(hero.text)} />}
        </section>
    )
}
