---
import { Icon } from "astro-icon/components";
export type Props = {
  variant?: "primary" | "secondary" | "link";
  href: string;
  external?: boolean;
  icon?: string;
  class?: string;
  wfull?: boolean;
};
const {
  variant = "primary",
  href,
  external = false,
  icon,
  wfull = false,
  class: classes,
} = Astro.props;
---

<a
  href={href}
  class:list={[
    classes,
    "flex justify-center items-center text-base gap-x-2 rounded-full p-2 md:px-4",
    { "w-full": wfull },
    { "w-fit": !wfull },
    {
      "bg-white/5 border border-white/10 text-white/50 hover:bg-white/10":
        variant === "primary",
    },
    { "bg-white text-black": variant === "secondary" },
  ]}
  target={external ? "_blank" : null}
  rel={external ? "noopener noreferrer" : null}
>
  {icon && <Icon name={icon} class="size-6" />}
  <slot />
</a>
