---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = CollectionEntry<"projects">;

const {
  data: { title, image },
  slug,
} = Astro.props;
---

<a href={`/projects/${slug}`} class="group">
  <article
    class="relative p-1 hover:shadow-2xl size-full bg-white/5 border border-white/10 text-white/50 hover:bg-white/10 rounded-lg transition-colors ease-in-out overflow-hidden"
  >
    <Image
      src={`/_thumbnails/${image}`}
      alt={title}
      width={400}
      height={500}
      class="aspect-video rounded-lg size-full object-cover group-hover:scale-110 ease-in-out transition duration-300"
    />

    <div
      class="absolute inset-0 bg-black/10 backdrop-blur-sm opacity-0 rounded-lg group-hover:opacity-100 transition-opacity ease-in-out z-[10]"
    >
      <div class="size-full grid place-content-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-12"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"
          ></path>
        </svg>
      </div>
    </div>
  </article>
</a>
