---
import { Icon } from "astro-icon/components";

export type Props = {
  tool: string;
};

const { tool } = Astro.props;
---

<div
  class="h-fit bg-black/40 p-6 rounded-md hover:shadow-primary shadow-2xl transition-shadow ease-in-out"
>
  <div class="flex flex-col justify-center items-center size-full">
    <Icon name={tool} class="md:size-14 size-10 mb-3" />
    <span class="pt-4 md:text-sm text-xs uppercase font-semibold">{tool}</span>
  </div>
</div>
