@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
}

:root {
  color-scheme: light dark;
  --text-shadow: 0 0 0.5rem var(--color-sky-400), 0 0 1rem var(--color-sky-400),
    0 0 2rem var(--color-sky-400), 0 0 4rem var(--color-sky-400);
}
*,
html,
body {
  box-sizing: border-box;
}
html,
body {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
.hero {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (width >= 64rem /* 1024px */) {
  .hero {
    max-width: 72rem;
  }
}
