@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme {
  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-slide-up: fadeInUp 0.5s ease-in-out;
  --animate-slide-up-out: slideUpOut 0.5s ease-in-out;

  --color-primary: #5356ff;
  --color-secondary: #ffc947;
}

@layer components {
  @keyframes fadeIn {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUpOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideDownOut {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  color-scheme: light dark;
  --gradient: radial-gradient(at 70% 40%, #000000 0%, transparent 60%),
    radial-gradient(at 28% 66%, #4e4feb 0%, transparent 50%),
    radial-gradient(at 98% 9%, #068fff 0%, transparent 40%),
    radial-gradient(at 48% 67%, #eeeeee 0%, transparent 30%);

  --gradient-secondary: radial-gradient(
      at 30% 12%,
      #5356ff 0px,
      transparent 50%
    ),
    radial-gradient(at 96% 58%, #378ce7 0px, transparent 50%),
    radial-gradient(at 24% 18%, #ffc947 0px, transparent 50%),
    radial-gradient(at 9% 5%, #dff5ff 0px, transparent 50%), #5356ff;

  --text-shadow: 0 0 0.5rem var(--color-green-400),
    0 0 1rem var(--color-green-400), 0 0 2rem var(--color-green-400),
    0 0 4rem var(--color-green-400);
}
*,
html,
body {
  box-sizing: border-box;
}
html,
body {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
.hero {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (width >= 64rem /* 1024px */) {
  .hero {
    max-width: 75rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@layer components {
  .header-animate {
    animation: reduce-header linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }

  @keyframes reduce-header {
    to {
      box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
        0 0 0 1px hsla(0, 0%, 100%, 0.1);
      background: rgba(25, 25, 25, 0.534);
      backdrop-filter: blur(10px);
    }
  }
}
