@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme {
  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-slide-up: fadeInUp 0.5s ease-in-out;
  --animate-slide-up-out: slideUpOut 0.5s ease-in-out;

  --color-primary: #1F6242ff;
  --color-secondary: #FFB762ff;
}

@layer components {
  @keyframes fadeIn {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUpOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideDownOut {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  color-scheme: light dark;
  --text-shadow: 0 0 0.5rem var(--color-green-400),
    0 0 1rem var(--color-green-400), 0 0 2rem var(--color-green-400),
    0 0 4rem var(--color-green-400);
}
*,
html,
body {
  box-sizing: border-box;
}
html,
body {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
.hero {
  margin: 0 auto;
}

@media (width >= 64rem /* 1024px */) {
  .hero {
    max-width: 80rem;
  }
}

@layer components {
  .header-animate {
    animation: reduce-header linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }
  
  @keyframes reduce-header {
    to {
      box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
        0 0 0 1px hsla(0, 0%, 100%, 0.1);
      background: rgba(25, 25, 25, 0.534);
      backdrop-filter: blur(10px);
    }
  }
}
