---
import "@fontsource-variable/onest";

import { ClientRouter } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import "../global.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
}
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <BaseHead {...Astro.props} />
    <ClientRouter />
  </head>
  <body
    class="dark:bg-neutral-900 bg-sky-50 dark:text-white text-black antialiased relative"
  >
    <slot />
  </body>
</html>
