---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Base from "./Base.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}
---

<Base {...Astro.props}>
  <div class="relative z-[1] text-white">
    <Header />
    <slot />
    <Footer />
  </div>
</Base>
