---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Base from "./Base.astro";

interface Props {
  title: string;
  description?: string;
}
---

<Base {...Astro.props}>
  <div
    class="absolute h-full w-full bg-[url(/spotlight.webp)] bg-contain bg-no-repeat bg-top bottom-0 left-0 right-0 top-0 opacity-30 bg-blend-multiply"
    data-astro-cid-sckkx6r4=""
  >
  </div>
  <div
    class="absolute h-full w-full bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:58px_58px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
    data-astro-cid-sckkx6r4=""
  >
  </div>
  <div class="relative z-[1] text-white">
    <Header />
    <slot />
    <Footer />
  </div>
</Base>
