---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Base from "./Base.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: "website" | "article" | "profile";
  publishedTime?: string;
  updatedTime?: string;
  articleSection?: string;
  tags?: string[];
}
---

<Base {...Astro.props}>
  <div class="relative z-[1]">
    <Header />
    <slot />
    <Footer />
  </div>
</Base>
